In [36]:
string2

'Minha idade é:35'

In [37]:
a = 5
a

5

In [38]:
b = int(4.56)
b

4

In [39]:
c = float(5)
c

5.0

In [40]:
d = str(5)
d

'5'

In [41]:
type(d)

str

In [42]:
string1 = 'Mariana'

In [43]:
string1

'Mariana'

In [44]:
texto = '''
Meu nome é 
Mariana
e tenho
23 anos
'''

print(texto)

Meu nome é
Mariana
e tenho
23 anos

In [45]:
comprimento = len(texto)
comprimento

37

In [47]:
texto = texto.lower()
print(texto)

meu nome é
mariana
e tenho
23 anos

In [49]:
texto = texto.upper()
print(texto)

MEU NOME É
MARIANA
E TENHO
23 ANOS

In [50]:
texto = texto.replace("23","20")
print(texto)

MEU NOME É
MARIANA
E TENHO
20 ANOS

In [51]:
elemento = texto[2:-1]
print(elemento)

EU NOME É
MARIANA
E TENHO
20 ANOS

In [52]:
elemento = texto[0]

In [53]:
elemento

'\n'

In [54]:
elemento = texto[5]
elemento

'N'

In [55]:
'M' in texto

True

In [56]:
'Mariana' in texto

False

In [57]:
'MARIANA' in texto

True

In [60]:
string1 = 'Banana;Morango;Maçã'

In [61]:
lista = string1.split(';')
lista

['Banana', 'Morango', 'Maçã']