### BEM VINDOS A AULA DE TUPLAS E SETS!

#### TUPLAS: São parecidas com as listas, porém possuem uma característica importante: São IMUTÁVEIS. Ou seja, uma vez criadas, seus valores não podem ser modificados!

#### SETS: São também parecidos com as listas, porém possuem uma característica importante: Não são ordenados e não possuem índices!

#### POR EXEMPLO

#### DECLARANDO TUPLAS E SETS

In [5]:
tupla1 = (1,2,3,4,5,6) #declara uma tupla
set1 = {1,2,3,4,5,6}   #declara um set

In [6]:
tupla1

(1, 2, 3, 4, 5, 6)

In [7]:
set1

{1, 2, 3, 4, 5, 6}

#### ACESSANDO ELEMENTOS DE UMA TUPLA E UM SET

In [8]:
tupla1[0]

1

In [9]:
set1[0]

TypeError: 'set' object does not support indexing

#### DESCOBRINDO O TAMANHO DA TUPLA E DO SET

In [10]:
len(tupla1)

6

In [11]:
len(set1)

6

#### ADICIONANDO ELEMENTOS A UMA TUPLA (NÃO PERMITIDO)

In [12]:
tupla1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
tupla1[5] = 4

TypeError: 'tuple' object does not support item assignment

#### MODIFICANDO ELEMENTOS DE UM SET ATRAVÉS DO ÍNDICE (NÃO PERMITIDO)

In [14]:
set1[3] = 4

TypeError: 'set' object does not support item assignment

#### CONCATENANDO TUPLAS

In [15]:
tupla2 = (5,6,7,8)

tupla3 = tupla1 + tupla2
tupla3

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8)

#### ADICIONANDO ELEMENTOS A UM SET (PERMITIDO)

In [16]:
set1.add(7)
set1

{1, 2, 3, 4, 5, 6, 7}

#### REMOVENDO ELEMENTOS DE UM SET (PERMITIDO)

In [17]:
set1.remove(7)
set1

{1, 2, 3, 4, 5, 6}

#### REMOVENDO TODOS ELEMENTOS DE UM SET

In [18]:
set1.clear()
set1

set()

#### CONCATENANDO DOIS SETS

In [20]:
set1 = {'Gabriel','Carla','Pedro'}

In [21]:
set2 = {'Mariana','José','Paulo'}

set3 = set1.union(set2)

set3

{'Carla', 'Gabriel', 'José', 'Mariana', 'Paulo', 'Pedro'}